{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur la page d'accueil

{% endblock %}



{% block body %}


<style>

    .header-right {
        text-align: right;
        padding: 10px;
    }
    .welcome-title {
        text-align: center;
        margin-top: 50px;
    }
    {# .cards-container {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
    .card {
        padding: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 40%;
        text-align: center;
    }
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    } #}
</style>

<h1 class="welcome-title">Bienvenue !</h1>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}


<div class="container">
    <div class="welcome-message">
        <p>Bonjour {{ app.user.firstname }}, vous êtes actuellement connecté sur notre solution de génération de PDF à partir d'URL.</p>
        <p>Vous avez l'abonnement : {{ user.getSubscriptionId().getTitle() }}, vous avez le droit à {{ user.getSubscriptionId().getLimitsPdf() }} PDF par jour.</p>
    </div>

    <div class="actions">
        <a href="{{ path('app_pdf_form') }}" class="btn">Générer un PDF</a>
        <a href="{{ path('app_pdf_history') }}" class="btn">Historique de vos PDFs</a>
    </div>
</div>

    
{% else %}

    <div class="cards-container">
        {% for sub in subs %}
            <div class="card">
                <h2>{{ sub.title }}</h2>
                <p>{{ sub.description }}</p>
                <p>Limite de {{ sub.limitsPdf }} PDFs par jour.</p>
                <p>Prix : {{ sub.price == 0 ? 'Gratuit' : (sub.price ~ '€') }}</p>
            </div>
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
